header {
    width: 100%;
    height: 52px;
    background-color: #20333B;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Roboto", "Inter", "serif";
    color: #FFF;
    font-size: 24px;
}